<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>426691766031-4qs48i6jmrt5ngnpo0tocffqamr1plol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426691766031-4qs48i6jmrt5ngnpo0tocffqamr1plol</string>
	<key>API_KEY</key>
	<string>AIzaSyCshj9lMugBIpzLJ87DG-7UicClBPUQ5yA</string>
	<key>GCM_SENDER_ID</key>
	<string>426691766031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njohnson.Snapchat-Clone-With-Firebase</string>
	<key>PROJECT_ID</key>
	<string>slapchat-559e7</string>
	<key>STORAGE_BUCKET</key>
	<string>slapchat-559e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:426691766031:ios:f0da97328815930a</string>
	<key>DATABASE_URL</key>
	<string>https://slapchat-559e7.firebaseio.com</string>
</dict>
</plist>